.card-container {
    width: 140px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-value-top {
    position: absolute;
    right: 10px;
    top: 10px;
}
.card-value-bottom {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 1.2rem;
}
.card-symbol {
    font-size: 3rem;
}
.card-symbol.red {
    color: red;
}